<html>
  <head>
      <meta charset="UTF-8">
      <title>Ben-Albritton.com</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- <link rel="stylesheet" href="css/normalize.css"> -->
      <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
      <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700'>
      <!-- <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'> -->
          <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
          <script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js'></script>
          <!-- <script src="js/index.js"></script> -->
          <!-- <link rel="stylesheet" href="css/style.css?version=1"> -->
  </head>
  <body>
    <app-header></app-header>
    <section id="home" class="sec-main">
      <h1 class="main-heading">Welcome to Ben-Albritton.com</h1>
    </section>  
    <app-about-me></app-about-me>
    <app-experience></app-experience>
    <section id="folio" class="sec-folio">
      <div class="container">
          <h1>Previous Projects</h1>
          <div class="row" >
              <!-- <center> -->
              <h3>Freshmen Design Project</h3>
              <!-- 420 by 315 breaks the page -->
              <div class="videoWrapper">
              <iframe width="420" height="315" src="https://www.youtube.com/embed/wdgc2pgx_Yw?autoplay=0"> </iframe>
              </div>
              <p>The goal of this project was to solve a real world problem using a culmination of skills
                gained throughout freshman year. Our basic design was a faceplate that wirelessly turned a 
                lightswitch on. You can read more about that <a href="pages/freshy.php">here.</a></p>
          </div>
            <div class="row">
              <h3>CyberStorm 2016</h3>
              <img src="stegged.bmp" alt="Cyberstorm" style="width:35%;height:35%;"> 
              <p>Cyber Storm is day long cyber security competition. Think you have what it takes? The photo above may contain secret messages...</p>
            </div>
              <!-- I am woking on adding more here-->
              <!--<div class="row">
                  <center>
                      <h3>Senior Capstone - Cyber Vision</h3>
                      <img src="http://coes.latech.edu/cyen/CyberStorm/posters/2016.jpg" alt="Cyberstorm" style="width:35%;height:35%;"> 
                      <p></p>
                  </center>
              </div>-->
          </div> 
      </section>
    <app-footer></app-footer>
  </body>
</html>
